

-
    var header = '#recent clients'
    var clientList = [
        "/asset/image/client/google.png",
        "/asset/image/client/images.png",
        "/asset/image/client/microsoft.png",
        "/asset/image/client/redbull.png",
        "/asset/image/client/Subway.png",
        "/asset/image/client/youtube.png",
    ];

#client
.client
    .client__header=header
    .client__list
        each client in clientList
            .client__image
                img(src=client)