-
    var myFullName = 'Bogdan Negura'
    var myJobTitle = 'web developer'
#landing-page
.landing-page
    .landing-page__wrapper
        h1.landing-page__name=myFullName
        h2.landing-page__title=myJobTitle