.about-me {
  // background-image: radial-gradient(ellipse, $color-geraldine, $color-atoll);
  background-color: #e5e5e5;
}

.about-me__card-wrapper {
  box-shadow: 0px 13px 25px 5px rgba(143, 143, 143, 0.87);
  display: flex;
  width: 70%;
  margin: auto;
  // margin: 1rem;

  .about-me__card-left {
    background-color: #f9f0ee;
    width: 30%;
    padding: 50px 10px;
    text-align: center;

    .about-me__avatar-wrapper {
      // width: 150px;
      // height: 150px;
      // margin: auto;
      // position: relative;
      // border-radius: 50%;

      .about-me__avatar {
        border-radius: 50%;
        width: 150px;
        height: 150px;
        // display: none;
      }
    }

    .about-me__location {
      // color: #e29578;
      color: #006d77;
      font-weight: bold;
    }

    .about-me__email {
      font-weight: bold;
      color: #006d77;
      font-size: 0.8rem;
    }
  }

  .about-me__card-right {
    width: 70%;
    background-color: #415a67;
    padding: 10px;

    .about-me__card-header {
      padding: 10px;

      .about-me__full-name {
        font-size: 2rem;
        text-align: center;
        color: #f9f0ee;
      }

      .about-me__title {
        font-size: 1rem;
        text-align: left;
        color: #f9f0ee;
      }
    }

    .about-me__slogan,
    .about-me__content {
      font-size: 0.7rem;
      text-align: justify;
      // padding: 1rem;
      text-indent: 3rem;
      color: #e5e5e5;

      &:hover {
        color: #fff;
      }
    }
  }
}

.about-me__header {
  color: $color-white;
  @extend %header;
}

// .about-me__avatar-wrapper {
//   max-width: 20%;
//   margin: 1rem auto;
//   border: 0.5rem solid rgba(255, 255, 255, 0.3);
//   border-radius: 50%;
//   position: relative;

//   &::after {
//     content: "";
//     position: absolute;
//     border: 0.5rem solid rgba(255, 255, 255, 0.3);
//     top: -1.5rem;
//     bottom: -1.5rem;
//     right: -1.5rem;
//     left: -1.5rem;
//     border-radius: 50%;
//   }
//   .about-me__avatar {
//     border-radius: 55%;
//     width: 100%;
//     border: 0.5rem solid $color-atoll;
//   }
// }

.about-me__full-name,
.about-me__title {
  color: $color-white;
  padding: 0 1rem 2rem;
  text-align: center;
}

.about-me__link-list {
  text-align: center;
  padding-bottom: 1rem;
}

.about-me__link {
  display: inline-block;
  width: 80%;
  font-size: 3rem;
  text-decoration: none;
  border: 0.1rem solid $color-gumbo;
  border-radius: 1rem;
  background-color: $color-white;
  color: $color-gumbo;
  margin: 1rem auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}

.about-me__link-description {
  font-size: 1.5rem;
  line-height: 1.5;
}
